body{
  background-color: lightgray;
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
}
.About{
  padding-top: 25px; 
  font-size: 30px; 
  font-family: cursive; 
  text-align: center;
}
.About:hover{
  color: darkgoldenrod;
}
.c-item{
  height: 480px;

}
.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.card {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
